
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutYou</title>
</head>
<body>
    <button>Click Me!</button>
</body>
</html>
